:root{
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --address-color: rgba(255, 255, 255, 0.6);
    --common-white: #ffffff;
    --background:#F5F4FA;
    --secondary-backgroung:#2F303A;
    --common-black: #000;
    --main-font: 'Roboto', sans-serif;
    --title-size: 36px;
    --text-size: 14px;
}
body{
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: var(--text-size);
    font-weight: 400;
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
}
/*header*/
.header{    
    background-color: var(--common-white);        
}
.logo{
    color: var(--common-black);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-first-word{
    color: var(--accent-color);}
.nav{    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-list .current{
    color: var(--accent-color);
}
.nav-link{
    color: var(--primary-color);
    text-decoration: none;    
}
.contact-list{    
    font-weight: 500;   
}
.nav-link:hover, .nav-link:focus{
   color: var(--accent-color); 
}
.contact-link{
    color: var(--secondary-color);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.contact-link:hover, .contact-link:focus{
    color: var(--accent-color);
}
/* hero */
.hero{
    background-color: var(--secondary-backgroung);       
}
.hero-title{    
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--common-white);    
}
.hero-btn{
    color: var(--common-white);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}
/* section advantage */
.advantage-item{
    text-transform: uppercase;    
    line-height: 1.14;
    font-size: var(--text-size);
}
.advantage p{
    color: var(--secondary-color);    
    line-height: 1.71;   
}
.section-title{    
    font-size: var(--title-size);
    line-height: 1.17;
}
/* section card */
.card{    
    background-color: var(--background);       
}
.card-skill{
    color: var(--secondary-color);    
    font-size: 16px;    
    line-height: 1.19; 
}
.card-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
}
/* footer */
.footer{
    background-color: var(--secondary-backgroung);
}
.logo-second-word{
    color: var(--common-white);
}
.address a{    
    font-style: normal;    
    line-height: 1.71;
    text-decoration: none;
    color: var(--address-color);
}
.address .address-link{
    color: var(--common-white);
}
.address-link:hover, .address-link:focus{
    color: var(--accent-color);
}

/* Styles for Portfolio */
.filter-btn{    
    background-color: var(--background);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    cursor: pointer;
}
.filter-btn:hover, .filter-btn:focus{
    color: var(--background);
    background-color: var(--accent-color);
   }
   .project h2{
    font-size: 18px; 
    font-weight: 700;
    line-height: 2;     
    color: var(--primary-color);
   }
   .project p{    
    font-size: 16px;    
    line-height: 1.9;
    color: var(--secondary-color);
   }
   .project a{
    text-decoration: none;
   }