:root{
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --common-white: #ffffff;
    --main-font: 'Roboto', sans-serif;
    --title-size: 36px;
    --text-size: 14px;
}
body{
    font-family: var(--main-font);
    color: var(--primary-color);
}
.list{
    list-style: none;
}
/*header*/
.header{    
    background-color: var(--common-white);        
}
.logo{
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
}
.logo-first-word{
    color: var(--accent-color);}
.nav{    
    font-size: var(--text-size);
    font-weight: 500;
    line-height: 1.14;     
}
.nav-link{
    color: var(--primary-color);
    text-decoration: none;    
}
.contact-list{    
    font-size: var(--text-size);
    font-weight: 500;   
}
.nav-link:hover, .nav-link:focus, .nav-link:active{
   color: #2196F3; 
}
.contact-link{
    color: var(--secondary-color);
    text-decoration: none;
}
.contact-link:hover, .contact-link:focus{
    color: #2196F3;
}
/* hero */
.hero{
    background-color: #2F303A;
    color: var(--common-white);    
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;   
}
.hero-btn{
    color: #ffffff;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    cursor: pointer;
}
/* section advantage */
.advantage-item{
    text-transform: uppercase;
    font-size: var(--text-size); 
    line-height: 1.14;       
}
.advantage p{
    color: var(--secondary-color);
    font-size: var(--text-size);
    font-weight: 400;
    line-height: 1.71;
}
.section-title{    
    font-size: var(--title-size);
    line-height: 1.17;
}
/* section card */
.card{    
    background-color: #F5F4FA;   
}
.card-skill{
    color: var(--secondary-color);    
    font-size: 16px;   
    font-weight: 400;
    line-height: 1.19; 
}
.card-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
}
/* footer */
.footer{
    background-color: #2F303A;
}
.logo-second-word{
    color: #ffffff;
}
.address a{    
    font-style: normal;
    font-size: var(--text-size);
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.address .address-link{
    color: #ffffff;
}
.address-link:hover, .address-link:focus{
    color: #2196F3;
}

/* Styles for Portfolio */
.filter-btn{    
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    cursor: pointer;
}
.filter-btn:hover, .filter-btn:focus{
    color: #F5F4FA;
    background-color: #2196F3;
   }
   .project h2{
    font-size: 18px; 
    line-height: 2;   
   }
   .project p{
    font-size: var(--text-size);
    font-weight: 400;
    line-height: 1.9;
   }